<p>
  base index fileasdfasd
  <!-- this will show a list of all of the articles -->
  </p>

  <% @articles.each do |article| %>
    <ul>
      <l1><%= article.title %></l1>
      <li><%= article.content %></li>
    </ul>
  <% end %>
